/*
Jered's CSS file
best.css
created: 27 April 2020
modified: 27 April 2020
*/

h1 {
    margin: 25px;
    padding: 25px;
    color: #389cff;
    border-style: solid;
    text-align: center;
}

h2 {
    padding: 25px 25px 10px 25px;
    text-align: center;
}

.jicon {
    font-size: 72px;
    text-align: center;
}

a {
    color: black;
}

p {
    margin-left: auto;
    margin-right: auto;
}

.jcenter {
    margin: auto;
    width: 75%;
}

.joutline {
    outline-style: solid;

}